# Lab2: Predicting Real Estate House Prices

## This task is provided to test your understanding of building a Linear Regression model for a provided dataset

### Dataset: Real_estate.csv

### Import the necessary libraries
#### Hint: Also import seaborn

In [1]:
#importing the necessary libraries for the work
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

### Read the csv data into a pandas dataframe and display the first 5 samples

In [2]:
#Reading the dataset into pandas
df=pd.read_csv('Real estate.csv')
df.head(5)

,No,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
0,1,2012.917,32.0,84.87882,10,24.98298,121.54024,37.9
1,2,2012.917,19.5,306.59470,9,24.98034,121.53951,42.2
2,3,2013.583,13.3,561.98450,5,24.98746,121.54391,47.3
3,4,2013.500,13.3,561.98450,5,24.98746,121.54391,54.8
4,5,2012.833,5.0,390.56840,5,24.97937,121.54245,43.1

### Show more information about the dataset

In [4]:
#information of the data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 414 entries, 0 to 413
Data columns (total 8 columns):
No                                        414 non-null int64
X1 transaction date                       414 non-null float64
X2 house age                              414 non-null float64
X3 distance to the nearest MRT station    414 non-null float64
X4 number of convenience stores           414 non-null int64
X5 latitude                               414 non-null float64
X6 longitude                              414 non-null float64
Y house price of unit area                414 non-null float64
dtypes: float64(6), int64(2)
memory usage: 26.0 KB

### Find how many samples are there and how many columns are there in the dataset

In [6]:
#number of sample in the data
rows = len(df.axes[0])
cols = len(df.axes[1])
print("Number of Rows: " + str(rows))
print("Number of Columns: " + str(cols))

Number of Rows: 414
Number of Columns: 8

### What are the features available in the dataset?

In [6]:
#features in the data
features = df.columns
features

Index(['No', 'X1 transaction date', 'X2 house age',
       'X3 distance to the nearest MRT station',
       'X4 number of convenience stores', 'X5 latitude', 'X6 longitude',
       'Y house price of unit area'],
      dtype='object')

### Check if any features have missing data

In [7]:
#features with missing data
features.isna()

array([False, False, False, False, False, False, False, False])

### Group all the features as dependent features in X

In [9]:
#dependent features in x
X = df.loc[:,['X1 transaction date','X2 house age','X3 distance to the nearest MRT station','X4 number of convenience stores','X5 latitude','X6 longitude']]
X

,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude
0,2012.917,32.0,84.87882,10,24.98298,121.54024
1,2012.917,19.5,306.59470,9,24.98034,121.53951
2,2013.583,13.3,561.98450,5,24.98746,121.54391
3,2013.500,13.3,561.98450,5,24.98746,121.54391
4,2012.833,5.0,390.56840,5,24.97937,121.54245
...,...,...,...,...,...,...
409,2013.000,13.7,4082.01500,0,24.94155,121.50381
410,2012.667,5.6,90.45606,9,24.97433,121.54310
411,2013.250,18.8,390.96960,7,24.97923,121.53986
412,2013.000,8.1,104.81010,5,24.96674,121.54067
413,2013.500,6.5,90.45606,9,24.97433,121.54310

### Group feature(s) as independent features in y

In [12]:
#features of y
y=df['Y house price of unit area']
y.reset_index()

     index  Y house price of unit area
0        0                        37.9
1        1                        42.2
2        2                        47.3
3        3                        54.8
4        4                        43.1
..     ...                         ...
409    409                        15.4
410    410                        50.0
411    411                        40.6
412    412                        52.5
413    413                        63.9

[414 rows x 2 columns]

### Split the dataset into train and test data

In [20]:
#training model
from sklearn.model_selection import  train_test_split 
train_X,test_X,train_y,test_y=train_test_split(X,y,train_size=0.5,test_size=0.5,random_state=1)
train_y

108    34.1
358    45.1
169    23.5
79     26.5
392    35.3
       ...
255    17.4
72     36.3
396    31.9
235    39.3
37     25.3
Name: Y house price of unit area, Length: 207, dtype: float64

### Choose the model (Linear Regression)

In [21]:
#choosing model from scitclearn
from sklearn.linear_model import LinearRegression

### Create an Estimator object

In [23]:
#creating an estimator
mymodel=LinearRegression(fit_intercept=True)

### Train the model

In [25]:
mymodel.fit(train_X,train_y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

### Apply the model

In [26]:
#prediciting the data and possible outcome
my_predictions=mymodel.predict(test_X)
my_predictions

array([32.95572811, 44.23016016, 23.15485799, 13.94468184, 39.29075093,
       32.96334559, 30.54481072, 44.01564182, 36.61195396, 15.97291133,
       14.65685527, 39.14116197, 31.88111381, 42.18076821, 48.79809683,
       34.72933883, 40.29144955, 43.1236785 , 29.69271492, 43.34405002,
       50.70367428, 28.83549012, 42.05529436, 44.94652864, 43.75381092,
       28.43777823, 29.96488663, 44.39374578, 44.03605391, 15.81183578,
       31.76286991, 36.44833713, 40.90228922, 42.44245182, 47.16626756,
       13.81586984, 41.1048716 , 41.78882496, 36.94174743, 14.57557106,
       40.99537625, 25.34312456, 51.37627721, 33.78118216, 33.0907289 ,
       36.35758044, 30.19573826, 39.44720035, 45.41066091, 35.79251074,
       12.82769704, 45.71691617, 46.46800573, 14.85467979, 46.6223405 ,
       43.66578788, 40.29144955, 38.38014234, 36.6585192 , 38.64954512,
       25.98619531, 37.82419231, 34.18809095, 13.81586984, 37.90433179,
       46.61157189, 41.27691124, 45.69189292, 14.8672056 , 38.15821794,
       45.92819557, 12.0983976 , 35.26942797, 38.108842  , 47.83497567,
       37.91326403, 37.5635382 , 37.7367273 , 38.4417247 , 46.25846514,
       43.65455656, 37.30918088, 47.52492895, 39.09383005, 42.1227457 ,
       50.41315605, 45.65511593, 35.17330887, 50.5878471 , 16.84657114,
       31.56742004, 47.75765817, 42.91265152, 30.74474282, 46.201309  ,
       40.39475216, 27.85984314, 38.96925124, 47.52871182, 37.64141282,
       34.08635956, 44.97563786, 29.45374812, 32.29328968, 39.21918878,
       41.56396024, 46.24366505, 31.04005637, 40.23355755, 42.63196097,
       46.04898939, 49.42498326, 49.08502132, 39.97109363, 30.23673245,
       44.39611782, 45.90314394, 39.94489822, 40.00145398, 17.61674496,
       44.60466399, 15.51062064, 36.18807504, 40.09919519, 43.88955355,
       43.33380335, 43.73469475, 45.95128484, 44.34494961, 42.76354216,
       36.94174743, 45.60025002, 44.84553599, 44.68957275, 44.5663949 ,
       39.09771843, 40.60083908, 39.63771792, 42.09991157, 51.05657109,
       34.79687694, 14.49384271, 41.26711256, 25.40272196, 41.65748034,
       46.24366505, 35.62635095, 33.78118216, 45.56189675, 48.0938929 ,
       44.33534794, 48.78320021, 39.97904479, 36.48099905, 45.95481652,
       26.39172708, 32.31652389, 34.08992659, 36.60774291, 47.42542623,
       43.97731927, 48.64307566, 45.75626093, 13.93215602, 45.07914438,
       33.76865634, 51.37627721, 42.43109849, 42.14879082, 43.43507721,
       44.39374578, 45.8680152 , 31.79572543, 28.49879437, 30.30860299,
       43.71563798, 46.60742666, 38.163479  , 44.34309404, 45.21414415,
       28.01791451, 52.14142911, 49.74944668, 46.59905354, 36.83548859,
       44.48240304, 41.55054626, 22.29543011, 44.90663966, 41.4120519 ,
       43.88791915, 46.4876223 , 44.29592461, 42.77468376, 37.06839852,
       40.26460434, 31.07726142, 30.85012182, 16.83404532, 44.75698133,
       41.52952973, 43.87781655, 42.6962749 , 44.59575995, 31.08097755,
       46.19017006, 30.1888396 ])

### Display the coefficients

In [8]:
mypredictions.coef[(0)]

NameError: name 'mypredictions' is not defined

### Find how well the trained model did with testing data

### Plot House Age Vs Price
#### Hint: Use regplot in sns

### Plot Distance to MRT station Vs Price

### Plot Number of Convienience Stores Vs Price